body {
    font-family: system-ui;
}


.surfacew {
    background-color: #99d9ff;
}

.deepw {
    background-color: #46b8fb;
}

.darkw {
    background-color: #276b93;
}

.tech {
    background-color: #FFFFE0;
}


.titreP {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.titre {
    font-size: 30px;
    font-weight: bold;
}

.tableau {
    border: solid;
    border-width: 2px;
}